<ion-header>

  <ion-navbar color="primary">
    <ion-title>FoodLogs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

  <ion-list no-lines>

    <form [formGroup]="slideOneForm">
      <ion-list>
        <ion-item>
          <ion-label floating>Menu</ion-label>
          <ion-select [(ngModel)]="food_log.meal" name="meal" formControlName="meal">
            <ion-option value="Idli">Idli</ion-option>
            <ion-option value="Dosa">Dosa</ion-option>
            <ion-option value="Egg">Egg</ion-option>
            <ion-option value="sandwich">Sandwich</ion-option>
            <ion-option value="Milk">Milk</ion-option>
            <ion-option value="north">North Indian meals</ion-option>
            <ion-option value="south">South Indian meals</ion-option>
            <ion-option value="meals">Meals</ion-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item *ngSwitchCase="'Lunch'">
          <ion-label floating>Menu</ion-label>
          <ion-select [(ngModel)]="food_log.meal" name="meal" formControlName="meal">
            <ion-option value="Idli">North Indian meals</ion-option>
            <ion-option value="Dosa">Dosa</ion-option>
            <ion-option value="Egg">Egg</ion-option>
            <ion-option value="Milk">Milk</ion-option>
          </ion-select>
        </ion-item> -->

        <ion-item>
          <ion-label floating>Date</ion-label>
          <ion-datetime name="intake_date" formControlName="intake_date" displayFormat="DD/MM/YYYY HH:mm" [(ngModel)]="food_log.intake_date"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label text-wrap floating>How was it?</ion-label>
          <ion-textarea name="details" formControlName="details" type="text" [(ngModel)]="food_log.details" [class.invalid]="!slideOneForm.controls.details.valid && (slideOneForm.controls.details.dirty || submitAttempt)"></ion-textarea>
        </ion-item>


        <ion-item *ngIf="!slideOneForm.controls.details.valid  && (slideOneForm.controls.details.dirty || submitAttempt)">
          <p class="error-text">Please enter some details.</p>
        </ion-item>
      </ion-list>

    </form>

  </ion-list>

  <button ion-button full color="primary" (click)="save()" [disabled]="slideOneForm.invalid">Save</button>

</ion-content>