<ion-header>
  <ion-navbar id="homeNavBar">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="background-color: rebeccapurple;">AaditLife</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <div class="home-page">
    <ion-card *ngIf="currentUser">
      <div class="card-title">Welcome</div>
      <div class="card-subtitle">{{currentUser.first_name}} {{currentUser.last_name}}</div>
    </ion-card>
  </div> -->
  <ion-card *ngIf="currentUser" style="height: 620px">
    <!-- <ion-item class="card-title">Welcome</ion-item>
    <ion-item class="card-subtitle">{{currentUser.first_name}} {{currentUser.last_name}}</ion-item> -->
    <h2 style="padding-left: 83px;padding-top: 40px;color: indianred">Welcome {{currentUser.first_name}} {{currentUser.last_name}}</h2>
    <schedule-details #scheduleDetails>Todays Schedule</schedule-details>
  </ion-card>

</ion-content>