<ion-header>

  <ion-navbar color="primary">
    <ion-title>How did it feel?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  
  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

  <ion-list no-lines>

    <form [formGroup]="slideOneForm">

      <ion-item class="center">
        <rating id="rating" formControlName="rating" [(ngModel)]="schedule.rating" readOnly="false"></rating>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.rating.valid  && (slideOneForm.controls.rating.dirty || submitAttempt)">
        <p>Please enter a valid Stars.</p>
      </ion-item>

      
      <ion-item>
        <ion-label text-wrap floating>Comments</ion-label>
        <ion-textarea name="comments" formControlName="comments" type="text" [(ngModel)]="schedule.comments"
          [class.invalid]="!slideOneForm.controls.comments.valid && (slideOneForm.controls.comments.dirty || submitAttempt)"></ion-textarea>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.comments.valid  && (slideOneForm.controls.comments.dirty || submitAttempt)">
        <p class="error-text">Please enter some details.</p>
      </ion-item>
    </form>

  </ion-list>

  <button ion-button full color="primary" (click)="save()" [disabled]="slideOneForm.invalid">Save</button>

  <schedule-details></schedule-details>
  
</ion-content>